
body {
    background-color: orange;
    margin: 15%;
}

.main {
 display: flex;
 justify-content: center;
}

.title {
    font-size: 40%;
}

.lovelyfont {
    font-family: "so-lovely", sans-serif;
    color: rgb(233, 233, 32);
}

.border {
    border-bottom: 2px solid rgb(233, 233, 32);
}

#image {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#img-caption {
    font-size: 85%;
    color: white;
    margin-bottom: 10%;
    text-indent: 10%;
}

#tribute-info {
    font-size: 85%;
    color: white;
    margin-bottom: 10%;
    text-indent: 10%;
}

#tribute-link {
  font-size: 85%;
  color: white;
  margin-bottom: 10%;
}

a {
  color: yellow;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-content: center;
}






/* Carousel  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  list-style: none;
  max-width: 600px;
  margin-block: 2rem;
  margin-inline: auto;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

li {
  display: grid;
  place-items: center;
  color: rgba(255, 255, 255, 0);
  font-size: 3rem;

  aspect-ratio: 2/1;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0);
}

li:nth-child(even) {
  background-color: rgba(255, 255, 255, 0);
}